@model String
<div ng-controller="AgenteController as agente">
    @if (!String.IsNullOrEmpty(Model))
    {
        <div>
            <a class="btn btn-default btn-sm" ng-click="agente.volver(tab, @Html.Raw(Json.Encode(Model)))">
                <span class="glyphicon glyphicon-arrow-left"></span>Volver </a>
        </div>
    }
            <h2 ng-if="agente.punto" class="page-header">
                Mesas del {{agente.punto.Descripcion}}
            </h2>
            <h2 ng-if="!agente.punto" class="page-header">
                Mesas
            </h2>
    <div class="panel panel-default with-table" ng-init="agente.init(@Html.Raw(Json.Encode(Model)))" >
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <a class="btn btn-primary btn-sm" ng-click="agente.create(tab)"><span class="glyphicon glyphicon-file">
                    </span>Nuevo </a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <table class="table" style="margin: 4px">
            <tr>
                <th>
                    C&oacute;digo
                </th>
                <th>
                    Punto
                </th>
                <th class="hidden">
                    Usuario
                </th>
                <th>
                </th>
            </tr>
            <tr ng-if="agente.loading">
                <td>
                    Obteniendo datos
                </td>
                <td>
                </td>
                <td>
                </td class="hidden-xs">
                <td>
                </td>
            </tr>
            <tr ng-if="agente.items.length==0">
                <td>
                    No hay registros
                </td>
                <td>
                </td>
                <td class="hidden">
                </td>
                <td>
                </td>
            </tr>
            <tr ng-repeat="item in agente.items">
                <td>
                    {{item.Id}}
                </td>
                <td>
                    {{item.Punto.Descripcion}}
                </td>
                <td class="hidden">
                    {{item.LogUsr}}
                </td>
                <td class=" text-right col-md-4 col-lg-4 col-xs-4">
                    <a ng-click="agente.detail(tab, item.Id)" class="btn btn-xs btn-default" data-ajax><span
                        class="glyphicon glyphicon-eye-open"></span>
                        <text class="hidden-xs">Detalles</text>
                    </a>
                    <a ng-click="agente.edit(tab, item.Id)" class="btn btn-xs btn-default" data-ajax>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <text class="hidden-xs">Modificar</text>
                    </a>
                    <a ng-click="agente.delete(tab ,item.Id)" class="btn btn-xs btn-default " data-ajax>
                        <span class="glyphicon glyphicon-remove"></span>
                        <text class="hidden-xs">Eliminar</text>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
