<link href="~/Resources/css/special-glyphicons.css" rel="stylesheet" />
<div ng-controller="MonitoreoMesasController as agente" ng-init="agente.init(tab)">
    <h2 class="page-header text-center">
        {{agente.punto.Descripcion.toUpperCase()}}
        <p><small>Monitoreo de Mesas</small></p>
    </h2>
    <h4 class="text-right"><strong>Clientes en Cola: </strong>{{agente.fila}}</h4>
    <h5 ng-repeat="item in agente.filas" class="text-right"><strong>{{item.servicio}}: </strong>{{item.cantidad}}</h5>
    <div style="margin:20px auto; max-width:1200px">
        <div ng-repeat="item in agente.mesas" class="col-md-3 text-center" style="margin-bottom:20px">
            <a ng-if="item.Estado.EstadoId == 'estage1'" class="btn btn-success btn-lg" style="width:55px">
                <span class="glyphicon glyphicon-user"></span>
                <span ng-if="item.Ticket" class="glyphicon glyphicon-xss-right-10 glyphicon-list-alt"></span>
            </a>
            <a ng-if="item.Estado.EstadoId == 'estage2' && !item.Estado.MotivoId" class="btn btn-danger btn-lg" style="width:55px">
                <span class="glyphicon glyphicon-minus-sign"></span>
                <span ng-if="item.Ticket" class="glyphicon glyphicon-xss-right-10 glyphicon-list-alt"></span>
            </a>
            <a ng-if="item.Estado.EstadoId == 'estage2' && item.Estado.MotivoId" class="btn btn-warning btn-lg" style="width:55px">
                <span class="glyphicon glyphicon-time"></span>
                <span ng-if="item.Ticket" class="glyphicon glyphicon-xss-right-10 glyphicon-list-alt"></span>
            </a>
            <p style="margin-bottom:2px">{{item.Estado.Agente.Id}}</p>
            <p style="margin-bottom:2px">{{item.Estado.Agente.Usuario.Nombre}}</p>
            <p ng-if="item.detalles" style="margin-bottom:2px"><strong>Estado: </strong>{{item.Estado.Estado.Nombre}}</p>
            <p ng-if="item.detalles && item.Ticket" style="margin-bottom:2px"><strong>Ticket: </strong>{{item.Ticket.NroTicket}}</p>
            <p ng-if="item.detalles && item.Estado.MotivoId" style="margin-bottom:2px"><strong>Motivo: </strong>{{item.Estado.Motivo.Nombre}} <strong>desde: </strong>{{item.Estado.FechaInicio | date: 'h:mm a'}}</p>
            <p ng-if="!item.detalles"><a class="btn btn-xs btn-link" ng-click="item.detalles = true">Detalles</a></p>
            <p ng-if="item.detalles"><a class="btn btn-xs btn-link" ng-click="item.detalles = false">Ocultar detalles</a></p>
        </div>
    </div>
</div>
