span.glyphicon-lg {
    font-size: 2.9em;
}

span.glyphicon-md {
	padding-top:10px;
	margin-left:-2px;
    font-size: 2.3em;
}

span.glyphicon-mdd {
	padding-top:10px;
	margin-left:-15px;
    font-size: 2.1em;
}

span.glyphicon-xss-right 
{
    margin-left: -8px;
    font-size: 0.8em;
}
span.glyphicon-xss-left 
{
    margin-right: -8px;
    font-size: 0.8em;
}